@model IRL.Dtos.AccessDeniedDto

@{
    ViewBag.Title = "401 - Access Denied";
}

<div class="row-fluid">
    <div class="span12 text-center">
        Access denied to <b>@Model.UrlReached</b>
    </div>
</div>
