<div class="col-md-9">
    <div class="b-sort-panel">
        <div class="b-select b-left">
            <ui-select ng-model="vm.numProductSelect"
                       theme="bootstrap"
                       search-enabled="false"
                       style="width: 300px;">
                <ui-select-match placeholder="Nombre d'annonce à afficher ...">{{$select.selected.label}}</ui-select-match>
                <ui-select-choices repeat="choice in vm.productToShowChoices">
                    <div ng-bind-html="choice.label"></div>
                </ui-select-choices>
            </ui-select>
        </div>

        <div class="b-select b-left">
            <ui-select ng-model="vm.sortProductSelect"
                       theme="bootstrap"
                       search-enabled="false"
                       style="width: 300px;">
                <ui-select-match placeholder="Trier les annonces ...">{{$select.selected.label}}</ui-select-match>
                <ui-select-choices repeat="choice in vm.productToSortChoices">
                    <div ng-bind-html="choice.label"></div>
                </ui-select-choices>
            </ui-select>
        </div>

        <div class="b-view-switcher f-view-switcher b-right">
            <div ng-click="vm.setToRow()" class="b-view-switcher_column is-view-switcher__item-active fa fa-th-list"></div>
            <div ng-click="vm.setToGrid()" class="b-view-switcher_table fa fa-th"></div>
            <div ng-click="vm.setToMap()" class="b-view-switcher_table fa fa-map-marker"></div>
        </div>
    </div>
    <div class="row">
        <dir-pagination-controls on-page-change="vm.pageChanged(newPageNumber)" pagination-id="prodrow"></dir-pagination-controls>

        <div class="b-col-default-indent">

            <div class="col-md-12" dir-paginate="prod in vm.productBag.contextProducts | itemsPerPage: vm.numProductSelect.id" total-items="vm.productBag.total" pagination-id="prodrow">
                <div class="b-product-preview-row f-product-preview-row">
                    <div class="row">

                        <div class="b-product-preview-row__img">
                            <img data-retina ng-src="{{ vm.prefixProductImageUrl + (prod.images | filter:{imageType:'ImageProductList'})[0].imageUrl }}" alt="" />
                            <div class="b-product-preview-row_btn-panel">
                                <a href="/view/{{ prod.productCode }}" class="b-btn f-btn b-btn-light f-btn-light b-right j-toggle-active"><i class="fa fa-heart"></i></a>
                                <a href="/view/{{ prod.productCode }}" class="b-btn f-btn b-btn-light f-btn-light b-right j-toggle-active"><i class="fa fa-link"></i></a>
                            </div>
                        </div>

                        <div class="b-product-preview-row__content">
                            <a href="/view/{{ prod.productCode }}" class="b-product-preview-row_title f-primary-b f-title-medium f-uppercase">{{ prod.productName }}</a>
                            <div class="b-portfolio_info_rating">
                                <span class="b-product-preview-row_price f-primary-b c-default f-title-medium" ng-show="prod.price != 0">{{ prod.price }}</span>
                                <span class="b-rating_bord hidden-xs"></span>
                                <div class="b-stars-group f-stars-group">
                                    <i class="fa fa-star is-active-stars"></i>
                                    <i class="fa fa-star is-active-stars"></i>
                                    <i class="fa fa-star is-active-stars"></i>
                                    <i class="fa fa-star is-active-stars"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <span class="b-rating_bord hidden-xs"></span>
                                <!--<div class="b-portfolio_rating_category">
                                    <span class="f-portfolio_category_title">Categoires :</span>
                                    <a href="#" class="f-portfolio_category_name f-more">Women</a>
                                </div>-->
                            </div>
                            <p class="b-product-preview-row_description c-senary">
                                {{ prod.shortDescription }}
                            </p>
                            <p class="b-product-preview-row_description c-senary">
                                {{ prod.googleAddressInLine }}
                            </p>
                            <div class="b-product-preview-row_btn b-btn f-btn b-left b-btn-sm-md f-btn-sm-md">
                                <i class="fa fa-shopping-cart"></i> <a href="/view/{{ prod.productCode }}">Voir</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="clearfix hidden-xs"></div>
            <div class="clearfix visible-xs-block"></div>
        </div>

        <dir-pagination-controls on-page-change="vm.pageChanged(newPageNumber)" pagination-id="prodrow"></dir-pagination-controls>

    </div>
</div>