<div id="skChangePassword">
    <h4>Changer mon mot de passe</h4>
    <form class="form" role="form" name="passwordForm">
        <hr />
        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" name="password" class="form-control" ng-model="password" sk-focus-on-set-pristine required />
            <ng-messages for="passwordForm.password.$error" ng-if="passwordForm.password.$touched" sk-has-error>
                <ng-message class="help-block" when="required">requis</ng-message>
            </ng-messages>             
        </div>
        <div class="form-group">
            <label for="newPassword">Nouveau mot de passe</label>
            <input type="password" name="newPassword" class="form-control" ng-model="newPassword" ng-model-options="{debounce: 500}" required />
            <!--<small class="help-block" ng-show="passwordForm.newPassword.$touched && passwordForm.newPassword.$error.passwordchecker">
                Le mot de passe doit contenir au moins 6 caract&egrave;res dont au moins un chiffre, au moins un caract&egrave;res en minuscule ('a'-'z') et au moins un caract&egrave;res en majuscule ('A'-'Z').
            </small><br>-->
            <ng-messages for="passwordForm.newPassword.$error" ng-if="passwordForm.newPassword.$touched" sk-has-error>
                <ng-message class="help-block" when="required">requis</ng-message>
            </ng-messages>             
        </div>
        <div class="form-group">
            <label for="newPasswordConfirm">Confirmer le nouveau mot de passe</label>
            <input type="password" name="newPasswordConfirm" class="form-control" ng-model="newPasswordConfirm" sk-match="newPassword" required />
            <ng-messages for="passwordForm.newPasswordConfirm.$error" ng-if="passwordForm.newPasswordConfirm.$touched" sk-has-error>
                <ng-message class="help-block" when="required">requis</ng-message>
                <ng-message class="help-block" when="match">Les mots de passe ne sont pas identiques</ng-message>
            </ng-messages>            
        </div>
        <button type="submit" class="btn btn-primary" ng-disabled="passwordForm.$invalid && passwordForm.$dirty" ng-click="change()">Changer</button>                
    </form>        
</div>